{% extends "::base.html.twig" %}

{% block title %}Comment Participer{% endblock %}

{% block stylesheet %}<link rel="stylesheet" href="{{ asset('css/comment.css') }}">{% endblock %}

{% block body %}
    <h1>Projet </h1>
    <p> ...............................</p>
    <h2>Participer</h2>
    <p>.................................</p>
    <p>
    </p>
{% endblock %}