{% extends "::base.html.twig" %}

{% block title %}Mentions légales{% endblock %}



{% block body %}
    <h1>Site dans le cadre d'un <a href="https://openclassrooms.com/projects/stage-ou-gestion-de-projet-en-equipe-specialite-developpement" >projet d'étude</a>.</h1>
    <h2>UX/UI Design</h2>
    <p></p>
    <h2>Marketing</h2>
    <p></p>
    <h2>Développement</h2>
    <p><br>
        </p>
    <hr>
    <h3>Mentions légales</h3>
    <h4>Site d'un projet de formation</h4><br>
    <p>

    </p>
{% endblock %}