
{% extends "::base.html.twig" %}
{% block title %}Programme{% endblock %}

{% block stylesheet %}<link rel="stylesheet" href="{{ asset('css/programme.css') }}">{% endblock %}

{% block body %}
    <h1>Programme de l'association NAO <a></a> /a>.</h1>
    <h2></h2>
    <p></p>

{% endblock %}
